*{
    margin:0;
    padding:0;
  }
  html{
    scroll-behavior: smooth;
  }
  
  body{
    margin:0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:17px;
    color:#ffffff;
    line-height:1.6;
  }
  
  #showcase{
    background-image:url(../img/bg2.png);
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
  }
  
  #showcase h1{
    font-size:50px;
    line-height:1.2;
    font-family: "Mistral";
    text-shadow: #000 2px 2px 20px;
  }

  #showcase h4{
    font-size:20px;
    line-height:1.2;
  }
  
  #showcase p{
    font-size:20px;
  }
  
  #showcase .button{
    font-size:18px;
    text-decoration:none;
    color:#fff;
    border:#ffffff 1px solid;
    padding:10px 20px;
    margin-top:20px;
    font-family: "Century Gothic";
    transition: ease-in 0.2s;
  }
  
  #showcase .button:hover{
    background:#ffffff;
    color:rgb(0, 0, 0);
  }

  #showcase-about{
    background-image:url(../img/bg2.png);
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
  }

  .about-card{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.637);
    color: rgb(59, 59, 59);
    padding: 20px;
  }

  .button{
    font-size:18px;
    text-decoration:none;
    color:rgb(255, 255, 255);
    border:#ffffff 1px solid;
    padding:10px 20px;
    margin-top:20px;
    font-family: "Century Gothic";
    transition: ease-in 0.2s;
  }

.button:hover{
    background:#ffffff;
    color:rgb(0, 0, 0);
  }

  .gallery{
      width: 100%;
      background: rgb(250, 250, 250);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-top: 3rem;
  }

  .gallery h2{
      color: rgb(59, 59, 59);
      border-bottom: solid 3px rgb(59, 59, 59);
      font-family: "Century Gothic"
  }

  .gallery-image{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-top: 3rem;
  }

  .gallery-image .gallery-box{
      width: 300px;
      height: 320px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin: 10px;
  }

  .gallery-box .gallery-pic img{
      width: 450px;
  }
  
  .gallery .spot-title{
    font-family: "Mistral";
    font-size: 24px;
    color: rgb(59, 59, 59);
    text-decoration: none;
    border-bottom: solid 2px rgb(59, 59, 59);
  }