<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="#"><img src="./img/logo2.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="index.html">Home</a>
                    <a class="nav-item nav-link" href="places.html">Tourist Spots</a>
                    <a class="nav-item nav-link" href="about.html">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <!--<div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">My Account</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    </div>-->
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <div class="info">
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/bata11.JPG" alt="">
            </div>
            <div class="info-det">
                <p> <h5>Batanes</h5> Batanes is an archipelago province in the Philippines situated in the Cagayan Valley region. It is the northernmost province in the country, and also the smallest, both in population and land area. Its capital is Basco located in the island of Batan.</p>
            </div>
        </div>
        <div class="info-sub">
            <div class="info-sub-sub">
                <h4>How to get to Batanes</h4>
                <p>The fastest and easiest way to reach Batanes is by air. Basco has an airport (Basco Airport) located in the town proper. Travel time is 70-110 minutes, depending on your choice of airline and departure. </p>
                <p>Fares to Basco are infamous for being expensive. Year-round fares can cost more than P10,000 per way if you book at the last minute. But there are ways to save more. </p>
            </div>
            
        </div>
        <div class="info-sub-p">
            <h2>Where to stay in Batanes</h2>
            <p class="indented-p">As the capital and commercial center of the province, Basco is a good base for tourists. Inns and homestays are heavily concentrated in the poblacion area, which is also where the airport is located. Tour operators also have their offices here. </p>
        </div>
        
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/troy.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Troy's Lodge</h5>
                <p>A loft with a few rooms for guests on the 2nd floor. </p>
                <p>Rates: P700-P1000 per room (up to 3 pax) </p>
            </div>
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/marfel.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Marfel's Lodge </h5>
                <p>Started out as a single house, it is now a network of 4 separate lodges — Main Lodge, Annex Lodge, Triple MP Homestay, MAC Homestay — being marketed together. </p>
                <p>Rates: P500-P600 per room (2 pax), P350/person for a single fan room </p>
            </div>
        </div>

        <div class="info-sub-p">
            <h2>Where eat in Batanes</h2>
            <p class="indented-p">Batanes may not be famous as a food destination, but it would be a shame to not sample local cuisine on your visit. It is not for everyone though. The province’s natural environment is relatively harsh, narrowing the variety of dishes and ingredients used. </p>
            <p class="indented-p">Seafood is a staple, and yam (gabi) and turmeric (luyang dilaw) are widely used. A traditional meal is also often wrapped in a leaf of the antipolo tree. Here are some of the native dishes: </p>
        </div>

        <div class="info-main">
            <div class="info-pic">
                <img src="./img/uved.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Uved</h5>
                <p>Ground banana corm with fish or meat, shaped into balls.</p>
            </div>
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/venes.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Venes/Vunes</h5>
                <p>Dried gabi stalk with fish or meat.</p>
            </div>
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/lunes.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Luñis</h5>
                <p>Salted pork cooked in its own fat.</p>
            </div>
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/dibang.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Dibang</h5>
                <p>JFlying fish. Served fried, dried or in vinegar.</p>
            </div>
        </div>
        <div class="info-sub-p">
            <h2>How to Get Around Batanes (BY BICYCLE OR MOTORCYCLE)</h2>
            <p class="indented-p">The bicycle is the cheapest way of going around the island, but make sure you have the stamina to match. The landscape is rugged and a bicycle ride can take you up and down the slopes of rolling hills a hundred times over. Not really a hundred, but you get the point </p>
            <p>Bicycle rental rates:</p>
            <ul>
                <li>Old bikes: P25/hour</li>
                <li>Small/Japanese bikes: P300/day</li>
                <li>Mountain bikes: P600-P1000/day (depending on the type and how long you’re gonna use it). </li>
            </ul>
            <p>For those who have a driver’s license and can drive two wheels, the motorcycle is a good option. Motorcycle rent costs P500-1000 per day. Gas is not yet included </p>
        </div>
    </div>
    
</body>
</html>