<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Boracay</title>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="#"><img src="./img/logo2.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="index.html">Home</a>
                    <a class="nav-item nav-link" href="about.html">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <!--<div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">My Account</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    </div>-->
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <div class="info">
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/boracay11.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>How to get to Boracay</h5>
                <p>From Manila, fly to Kalibo or Caticlan. If Kalibo, take a bus or van (P200) at the airport to Caticlan Jetty Port. Pay the terminal fee (P100), environmental fee (P75), and ferry fare (P25). Board the ferry to Boracay. If Caticlan, just take a trike to Caticlan jetty port and follow the same steps. 
                    </p>
                
            </div>
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/bhopping.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Island Hopping </h5>
                <p>Rates: P1000 to P3500 per boat, depending on the size of the boat and whether it is peak season or off-peak 
                        Where to book: Ask the staff of your hotel, for they surely know a contact or two. If not, you can head for White Beach and check out the many tour booths. </p>
            </div>
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/scuba.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Scuba diving</h5>
                <p>Because above-the-surface can get boring to some! There are over 15 dive sites around Boracay waters, all waiting for your curious presence. Be blown away by a trove of corals, underwater tunnels, caves, and other interesting spots! </p>
                <p>Rates: A 3-4 hour beginner course with 1 dive costs around P3500. If you already have your PADI Certification, a fun dive costs around P1600. 
                        Where to book: A number of PADI diving centers are located in White Beach. Try WaterColors Dive Resort or Victory Divers. </p>
            </div>
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/parasailing.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Parasailing</h5>
                <p>Zoom on a speedboat off Bulabog Beach and then soar high above the island! Get a fantastic view while you’re at it. Don’t forget to bring a camera because the boat staff are usually skilled in taking pictures of overwhelmed (and dizzy) flying tourists! </p>
                <p>Rates: P750 to P2500 per person, depending on how many you are in the group, and how well you haggle. You can even push it lower during off peak season! Just remember that it’s more expensive if you’re doing it solo! </p>
                <p> <span class="text-muted"> Where to book: </span> Diamond Watersports at White Beach Station 1 (+63 36 288 6621, +63 36 288 6681). </p>
            </div>
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/paraw.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Paraw sailing</h5>
                <p>Sailing old school! A paraw is an outrigger boat with two sails. Get onboard, control it like you control some of your friends, and let the wind take you to the best sites and sights around the island. Best done during sunset. </p>
                <p> <span class="text-muted"> Rates:</span> P1000-P1500 per person, depending on how many you are in the group. 
                    </p>
            </div>
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/paddle.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Standup Paddling</h5>
                <p>Because being seated is so overrated. LOL. “You don’t need to be a skilled surfer—at least not yet—to maneuver a standup paddle board,” says Nikka Corsino of Two2Travel. “White Beach’s placid and shallow waters on a fine day make this activity perfect for beginners.” </p>
                <p> <span class="text-muted"> Rates:</span> Board rental with lessons are around P300 to P500 per hour. </p>
                <p> <span class="text-muted"> Where to book: </span> Paddlesurf Boracay at Obama Grill at Station 1, or at Funboard Center Boracay at Bulabog Beach. </p>
            </div>
        </div>
    </div>
    
</body>
</html>