<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="#"><img src="./img/logo2.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="index.html">Home</a>
                    <a class="nav-item nav-link" href="places.html">Tourist Spots</a>
                    <a class="nav-item nav-link" href="about.html">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <!--<div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">My Account</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    </div>-->
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <div class="info">
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/cami11.jpg" alt="">
            </div>
            <div class="info-det">
                <p> <h5> Camiguin </h5> Camiguin is an island province in the Philippines located in the Bohol Sea, about 10 kilometres off the northern coast of Mindanao. It is geographically part of Region X, the Northern Mindanao Region of the country and formerly a part of Misamis Oriental province.</p>
                
            </div>
        </div>
        <div class="info-sub">
            <div class="info-sub-sub">
                <h4>How to get to Camiguin</h4>
                <p>Flights via Cebu. Camiguin has its own airport that can be reached by flying Cebu Pacific Air via Cebu. (No direct flights from Manila yet. You will have to connect in Cebu.) Via Cagayan de Oro. </p>
                <p>Most major airlines fly to Cagayan de Oro City (Laguindingan Airport), the most usual gateway for tourists visiting Camiguin. The most important note to consider when booking a flight to Cagayan de Oro is the schedule. You will need to decide first how you plan on reaching Camiguin from CDO before booking a flight: on Fastcraft or via Balingoan Pier. 
                    OceanJet ferry passengers from Cagayan de Oro city center (Macabalan Port) to Camiguin (Benoni Wharf). OceanJet took over Paras SeaCat’s schedule at 8:30am. Fare is P900. (Note that this might have already changed. Please call +63 (32) 255 7560 to confirm. </p>
                <p>There is another way of getting to Camiguin that doesn’t have that much of a time pressure. One can travel to the Balingoan Pier and take a ferry to Benoni Wharf in Camiguin. 
                    At the airport, take a shuttle to the city center (P199)</p>
                <p>At the Agora Bus Terminal, ride the bus bound for Balingoan (Fare: P110, Travel time: 1.5-2 hours)
                    Board the ferry to Benoni Wharf, Camiguin! 
                    </p>
            </div>
        </div>
        <div class="flex-gallery-master">
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/sunken.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Sunken Cemetery </h5>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/white.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>White Island</h5>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/hibok.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Mt. Hibok-Hibok</h5>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/walkaway.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Walkaway to Old Volcano</h5>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/katibawasan.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Katibawasan Falls </h5>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/gui.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Gui-ob Ruins</h5>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>