<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="#"><img src="./img/logo2.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="index.html">Home</a>
                    <a class="nav-item nav-link" href="places.html">Tourist Spots</a>
                    <a class="nav-item nav-link" href="about.html">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <!--<div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">My Account</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    </div>-->
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <div class="info">
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/coronbay.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Coron Bay</h5>
                <p>Coron Bay is where all the magic happens. This breathtaking maze of deep blue water winds around tall limestone cliffs that remind you of the movie ‘Avatar’- it almost doesn’t seem real. 
                    There are multiple shipwrecks in the bay that have encouraged the growth of natural reefs. These reefs and the wrecked ships make ideal dive and snorkel spots. 
                    You can sign up for Island Tours that take you through Coron Bay while stopping at secret inlets, guiding you to the best swim spots, and visiting viewpoints that give you full perspective of the bay.  </p>
                
            </div>
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/kingfisher.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Kingfisher</h5>
                <p>You’re going to do a lot of beach lounging and snorkeling in Coron, so why not switch it up for a day? 
                    Kingfisher Park is a mangrove and bird haven with tons of natural life to investigate. There are vegetation and animal species here that are specifically endemic to Palawan; in other words, you can only see them here! </p>
                <p>There are a few activities you can take part in including The Mount Lunes Santo Trek and the Starry-starry night Tour. But the most popular activity at Kingfisher Park is to kayak around the mangroves to get a closer look at the wildlife both in the mangroves and under your boat. 
                    Ask a local tour guide about all of the above and he’ll sort you out. </p>
            </div>
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/barracuda.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Underwater Mountains in Barracuda Lake</h5>
                <p>Not only are these underwater rock formations totally mysterious but also, they are set in an inland lake instead of off the coast with the rest of the crazy rock formations. Just when you thought Coron couldn’t get more alien, it goes and does this. </p>
                <p>Barracuda Lake is an incredible dive spot where you’ll whiz around the underwater mountains like you’re peter pan, swim through layers of salt and freshwater that are clearly distinct, and hit warm patches where the water can reach nearly 40 degrees Celsius. 
                        There is no other dive spot like this in the world, so take advantage while you’re here. </p>
            </div>
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/banana.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Banana Island</h5>
                <p>Want to get romantic? Banana Island offers tons of romance nooks to cuddle up with your sweetheart. 
                        Cozy next to each other in an isolated bungalow hovering over the water without another soul in sight; have your boo gently push you on the swing hanging from an old tree as your feet dangle into the water; or snorkel hand-in-hand and find little treasures for each other in the reefs. 
                        After you are pumped full of dopamine and love hormones, sit on the shore and watch the sun go down. Now, that’s romance. </p>
            </div>
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/bulog.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Bulog Island</h5>
                <p>If you’re ready to make all of your friends and family extremely jealous, then proceed to Bulog Island. The sand is perfectly powdery and white, the water is a beautiful ombre that fades from a clear crystal to a bright turquoise, and the scenery is what Instagram dreams are made of. </p>
                <p>When the tide is low, a fresh sandbar appears where you can take those coveted jumping photos that make you look like your floating in the middle of the ocean. 
                        And, if that wasn’t enough, the way the catamarans line up on the beach looks like something out of National Geographic. 
                        Bulog Island is a must-see destination while visiting Coron. </p>
            </div>
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/wreckdive.jpg" alt="">
            </div>
            <div class="info-det">
                <h5>Wreck Dive in Busuanga Island</h5>
                <p>Just west of Coron Island is Basuanga Island that is home to an underwater wonder that divers just can’t get enough of. 
                        In 1944, dozens of WWI Japanese ships were hit in an aerial attack, sinking their ships right off the coast of Busuanga Island. Here is where these massive ships found their final resting place. 
                        Plenty of dive shops offer these wreck dives where you can swim inside and around the ships, which are now covered in colorful reefs and eerie underwater moss. It’s an adrenaline-pumping dive that is worth the hour or so boat ride to the site. </p>
            </div>
        </div>
    </div>
    
</body>
</html>