<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="#"><img src="./img/logo2.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="index.html">Home</a>
                    <a class="nav-item nav-link" href="places.html">Tourist Spots</a>
                    <a class="nav-item nav-link" href="about.html">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <!--<div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">My Account</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    </div>-->
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <div class="info">
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/galera.jpg" alt="">
            </div>
            <div class="info-det">
                <p> <h5> Puerto Galera </h5> Puerto Galera is a town on the Philippine island of Mindoro. It’s known for its dive sites and beaches. The long curve of White Beach is backed by bars and resorts. Inland, a forest trail leads to secluded Talipanan Falls, and a hillside 9-hole golf course sits above the coast. Northeast, the waters off Sabang Beach teem with marine life and corals. Medio and Paniquian (Boquete) islands offer quieter beaches.</p>
                
            </div>
        </div>
        <div class="info-sub">
            <div class="info-sub-sub">
                <h4>How to get to Puerto Galera</h4>
                <h6> From Manila via Batangas</h6>
                <p>Take a bus bound for Batangas Pier like Ceres, DLTB and JAM Transit in LRT Buendia (Manila), Cubao (Quezon City) or Alabang South Station (Muntilupa). Travel time is roughly 2 hours depending on traffic. </p>
                <h6>Batangas Pier to Puerto Galera</h6>
                <p>By boat </p>
                <p>Boats in Batangas Pier can take you directly to Sabang (diving) or to White Beach (water sports, beach party and island hopping) in Puerto Galera for PHP 500 (USD 10/ SGD 13.80) roundtrip fare. Beware of the touts (unless you need a porter for your bags), just go directly to the ticket office in Batangas Pier and buy your tickets there. Travel time is roughly 1 – 1.5 hours. </p>
                <p>At Batangas Pier, there are also smaller ferries/ boats going to Puerto Galera Port (Muelle Port). Boat fare (one way) is roughly PHP 230 (USD 5/SGD 6.35) to Muelle Port. Travel time is roughly 1 – 1.5 hours. At Muelle Port, take a tricycle to your resort (agree on the price before riding) or you can take a smaller boat to your resort (if your resort can’t be reached by tricycle). Alternatively, you can also ride a public jeep at Muelle Port to Sabang or White Beach for about PHP 20 (USD 0.40/ SGD 0.55). <b> -->> </b> </p>
            </div>
            <div class="info-sub-sub">
                <p>There is a terminal fee of PHP 30 (USD 0.60/ SGD 0.83) at Batangas Pier when you go to Puerto Galera. And you also need to pay the PHP 50 (USD 0.99/ SGD 1.38) Environmental fee upon arrival in Puerto Galera. </p>
                <p>Going back, if you purchased the roundtrip boat tickets, confirm 1 day before your departure. There are ticketing booths in front of White Beach for the boat lines where you can confirm your departure. Upon leaving Puerto Galera, pay the PHP 10 (USD 0.20/ SGD 0.28) terminal fee. </p>
                <p>By Ferry (RORO) </p>
                <p>If you are taking your car, you need to take the ferry from Batangas Port. There are ferries going to Calapan, Mindoro. In Calapan, you can either take a jeepney to Puerto Galera for PHP 80 (USD 1.59/ SGD 2.21), travel time is 1.5 hours or take a passenger van to Puerto Galera for PHP 100 (USD 2/ SGD 2.76), trip take about 1 hour. </p>
                <p>If taking a ferry from Batangas Port to Balatero Port. Passenger fare is PHP 225 (USD 4.47/ SGD 6.21) while driver’s fare is PHP 129 (USD 2.56/ SGD 3.56). There is a terminal fee at Batangas Port for PHP 30 (USD 0.60/ SGD 0.83) and terminal fee in Balatero Port is PHP 10 (USD 0.20/ SGD 0.28). Meanwhile, vehicle (PUJ, car, SUV, AUV, minivan, etc.) fare is PHP 1,480 (USD 29.39/ SGD 40.85). </p>
            </div>
        </div>
        <div class="flex-gallery-master">
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/mendel.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Mendelluke Suites (beachfront)</h5>
                    <p class="text-muted">White Beach, White Beach, Puerto Galera </p>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/jewel.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Sea Jewel Beach Resort</h5>
                    <p class="text-muted">White Beach, White Beach, Puerto Galera </p>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/simon.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Mendelluke Suites (beachfront)</h5>
                    <p class="text-muted">White Beach, White Beach, Puerto Galera </p>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/marco.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Sea Jewel Beach Resort</h5>
                    <p class="text-muted">White Beach, White Beach, Puerto Galera </p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>