<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Kalanggaman</title>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="#"><img src="./img/logo2.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="index.html">Home</a>
                    <a class="nav-item nav-link" href="about.html">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <!--<div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">My Account</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    </div>-->
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <div class="info">
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/kala11.jpg" alt="">
            </div>
            <div class="info-det">
                <p> <h5>Kalanggaman Island</h5> <b> Did you know: </b> The name Kalanggaman comes from the local Cebuano language meaning 'birds' because the two arched sandbars make the island like the wingspan of a bird from above.</p>
                
            </div>
        </div>
        <div class="info-sub">
            <div class="info-sub-sub">
                <h4>WHEN IS THE BEST TIME TO VISIT KALANGGAMAN ISLAND:</h4>
                <p>The best time to visit Kalanggaman Island is during the summer season, from March to May. You may also travel to Kalanggaman from November to February but try to avoid the months of June to October due to the rainy season and possible storms. Best to check the weather updates for your safety. </p>
            </div>
            <div class="info-sub-sub">
                <h4>WHAT TO BRING IN KALANGGAMAN ISLAND: </h4>
                <p>Bring food and drinks. There’s no restaurant in the island, only 1 store. </p>
                <p>Bring power bank as there is no electricity in Kalanggaman Island. </p>
                <p>Bring coral-friendly sunblock and wear aqua shoes. </p>
            </div>
            
        </div>
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/tent.jpg" alt="">
            </div>
            <div class="info-det">
                
                <p>If you want to stay overnight, you can bring your tent or rent a tent forPHP 400/USD 7/EURO 6/SGD 10/MYR 30 per tent.</p>
                <p>If you plan to snorkel, you can bring your snorkel gears or rent one from the boat operator or touts. Fee is PHP 100/USD 2/EURO 2/SGD 3/MYR 8 – PHP 150/USD 3/EURO 2/SGD 4/MYR 11. </p>
            </div>
        </div>
        <div class="info-sub">
            <div class="info-sub-sub">
                <h4>ATMs IN KALANGGAMAN ISLAND:</h4>
                <p>No ATMs in Kalanggaman Island, so stack up cash. You can withdraw cash in Palompon or Bogo. </p>
                <h4>MOBILE SIGNAL:</h4>
                <p>There’s a mobile signal, however data is intermittent. </p>
                <h4>BATHROOMS and TOILETS:</h4>
                <p>There are changing rooms in Kalanggaman Island and toilets but there’s no freshwater, only saline water. So, if you need to take a shower, better do it in Palompon. Anyway, soap, shampoos and detergents are strictly prohibited in Kalanggaman. </p>
                <h4>SAFETY IN KALAGGAMAN ISLAND:</h4>
                <p>During our visit, there were police officers in Kalanggaman Island. Not sure if they are actually stationed there or they were stationed there because there were a lot of tourists since it’s a holiday. The island is pretty safe for tourists, however, follow the swimming protocols for your own safety. Your boatman or tour guide should instruct you as soon as you arrive in Kalanggaman. There’s also a medic station in case of untoward incidents. Just a reminder: </p>
                <p>Do NOT swim in the sandbar area because of the dangerous rip currents. I was told there were tourists who drowned there even during our visit! There’s an area where it’s safe to swim, but not around the sandbar! </p>
                <p>Wear life jacket when snorkeling for your safety. There’s an area where you can snorkel. 
                    Do not leave your things unattended. 
                    </p>
            </div>
            <div class="info-sub-sub">
                <h4>WHAT TO BRING IN KALANGGAMAN ISLAND: </h4>
                <p>Bring food and drinks. There’s no restaurant in the island, only 1 store. </p>
                <p>Bring power bank as there is no electricity in Kalanggaman Island. </p>
                <p>Bring coral-friendly sunblock and wear aqua shoes. </p>
            </div>
            
        </div>     
    </div>
    
</body>
</html>