<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="#"><img src="./img/logo2.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="index.html">Home</a>
                    <a class="nav-item nav-link" href="places.html">Tourist Spots</a>
                    <a class="nav-item nav-link" href="about.html">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <!--<div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">My Account</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    </div>-->
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <div class="info">
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/mayo11.jpg" alt="">
            </div>
            <div class="info-det">
                <p> <h5>Mayon Volcano</h5> Mayon, also known as Mayon Volcano or Mount Mayon, is an active stratovolcano in the province of Albay in Bicol Region, on the large island of Luzon in the Philippines.</p>
            </div>
        </div>
        <div class="info-sub">
                <div class="info-sub-sub">
                    <h4>HOW TO GET TO LEGAZPI</h4>
                    <p class="text-muted">By Air</p>
                    <p>Philippine Airlines and Cebu Pacific have regular flights from Manila and Cebu to Legazpi City. </p>
                    <p class="text-muted">By Bus</p>
                    <p>Several bus lines connect Metro Manila to Legazpi City including Philtranco, Superlines, DLTB, Cagsawa Tours, Amihan, Isarog Line, St. Jude Transit and Goldline Tours. Fare starts at P800 and travel time is approximately 9 to 10 hours.  </p>
                </div> 
        </div>
        <div class="info-sub-p">
            <h2>Where to stay in Legazpi</h2>
            <p class="indented-p">From backpackers hostel , lodges and inns to fancy hotels, various accommodations for different market segments are available in Legazpi City. </p>
        </div>
        <h2>Top-Rated / Highly Recommended Accommodations in Legazpi City</h2>
        <div class="flex-gallery-master">
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/emba.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Embarcadero Hotel</h5>
                    <p class="text-muted">Embarcadero de Legazpi, Legazpi Starts at 1,000 PHP </p>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/ellis.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Hotel St. Ellis</h5>
                    <p class="text-muted">Rizal Street, Legazpi Starts at 2,000 PHP</p>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/casa.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Casa Roces Bed & Breakfast</h5>
                    <p class="text-muted">Old Albay, Legazpi Starts at 2,000 PHP </p>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/oriental.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>The Oriental Hotel Legazpi</h5>
                    <p class="text-muted">Old Albay, Legazpi Starts at 3,000 PHP </p>
                </div>
            </div>
        </div>
        <h2>Top-Rated Budget Accommodations in Legazpi City</h2>
        <div class="flex-gallery-master">
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/mbackpack.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Mayon Backpackers Hotel</h5>
                    <p class="text-muted">Old Albay, Legazpi Starts at 350 PHP  </p>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/legaspi.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Legazpi Tourist Inn</h5>
                    <p class="text-muted">Old Albay, Legazpio Starts at 600 PHP </p>
                </div>
            </div>
        </div>
        <h2>Things To-Do:</h2>
        <div class="flex-gallery-master">
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/see.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>See Mayon Volcano up close</h5>
                    <p class="text-muted">(or trek the volcano and drop by to Mayon Resthouse Observatory). </p>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/lignon.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Experience adventure at Lignon Hill.</h5>
                    <p class="text-muted">Trek up, try zipline, see the unobstructed view of the surrounding and check out the observatory. </p>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/embar.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Hang out Embarcadero</h5>
                    <p class="text-muted">Legazpi City’s newest commercial and entertainment hub. </p>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/kapuntukan.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>TClimb up the Kapuntukan Hill</h5>
                    <p class="text-muted">for the panoramic view of Albay Gulf, Mayon Volcano and the surroundings. </p>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/tunnelalbay.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Explore the Japanese Tunnel</h5>
                    <p class="text-muted">Located at the foot of Lignon Hill. </p>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/bicolexpress.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Feast with spicy Bicolano cuisines. </h5>
                    <p class="text-muted">Try laing, pinangat, ginataang langka or bicol express. </p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>