<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>Puerto Princesa</title>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="#"><img src="./img/logo2.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="index.html">Home</a>
                    <a class="nav-item nav-link" href="about.html">About</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <!--<div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">My Account</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    </div>-->
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <div class="info">
        <div class="info-main">
            <div class="info-pic">
                <img src="./img/princesa.jpg" alt="">
            </div>
            <div class="info-det">
                <p> <h5> Puerto Princesa </h5> Puerto Princesa is a coastal city on Palawan Island in the western Philippines. It's a base for boat trips through the massive limestone caves and underground river of the biodiverse Puerto Princesa Subterranean River National Park. Dive sites are dotted around Puerto Princesa Bay, home to long-nosed dolphins, turtles and rays. Close to the port is the 19th-century Immaculate Concepcion Cathedral.</p>
                
            </div>
        </div>
        <div class="info-sub-p">
            <h2>Where to stay in Puerto Princesa</h2>
            <p class="indented-p">The biggest concentration of accommodations in Puerto Princesa is in the city center. Unless you want to spend the night on an island, then I strongly recommend staying in the city proper so you could also experience the sedated urban vibe. This will expose you to the many restaurants, bars, and shops that the city can offer.</p>
        </div>
        
        <div class="flex-gallery-master">
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/cleon.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Cleon Villas Pension</h5>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/deep.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Deep Forest Garden Hotel</h5>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/subli.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Subli Guest Cabins</h5>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/uno.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Palawan Uno Hotel</h5>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/acaciaa.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Acacia Tree Garden Hotel</h5>
                </div>
            </div>
            <div class="flex-gallery">
                <div class="flex-pic">
                    <img src="./img/canvas.jpg" alt="">
                </div>
                <div class="flex-det">
                    <h5>Canvas Boutique Hotel</h5>
                </div>
            </div>
        </div>
        <div class="info-sub-p">
            <h2>Where to eat in Puerto Princesa</h2>
            <p class="indented-p">If traveling on a shoestring, you can always count on the ever reliable carinderias (eateries) throughout the city. Your P100 has a lot of purchasing power and can get you more than a full meal with a drink. </p>
            <p class="indented-p">If you’re willing to splurge a little bit, there’s no running out of options. Many big hotels in the city have their own flagship restaurant that highlights their take on a cuisine. For example, Hue Hotel houses Matiz Restaurant and Tapas Bar, which boasts a mostly Spanish menu. Princesa Garden Island Resort and Spa has a dining complex featuring four restaurants including the Golden Elephant Seafood Village, which specializes in Thai food. </p>
            <p class="indented-p">But of course, when in Palawan, stuff your face with Filipino dishes. If you’re looking for a modern twist on your Pinoy favorites, go to Best Western Plus the Ivywall Hotel, home to Balayong Restaurant, an open-air dining place with a bar and grill. My teammate Glenn recently had the pleasure of dining there and he’s been raving about it. “Balayong offers interesting new takes on classic Palaweño and Philippine dishes. Under the guide of celebrity chef Sau Del Rosario, some of the restaurant’s must-try offerings include: sinuglaw, the classic kilawin (ceviche) made from grilled pork belly, raw fish, vinegar, chilis, and cucumbers; ‘deconstructed’ pochero; and crispy pork bagnet.” </p>
            <p class="indented-p">If you’re after Puerto Princesa classics, head over to Rizal Avenue, which is flanked with a number of must-try restaurants, including the following: </p>
        
        </div>

        <div class="info">
            <div class="info-main">
                <div class="info-pic">
                    <img src="./img/ka lui.jpg" alt="">
                </div>
                <div class="info-det">
                    <h5>Ka Lui</h5>
                    <p>Arguably the most famous in the city, Ka Lui offers Pinoy seafood specialties. They also give a complimentary fruit salad served on a halved coconut. You need to have prior reservation to secure a seat. Book in advance. Suggested budget: P400 per pax.</p>
                    
                </div>
            </div>
            <div class="info-main">
                <div class="info-pic">
                    <img src="./img/balin.jpg" alt="">
                </div>
                <div class="info-det">
                    <h5>Balinsasayaw Restaurant</h5>
                    <p>An unassuming restaurant offering cheap to mid-range Pinoy dishes. The place has this island vibe, thanks to the nipa and bamboo huts! A value meal costs around P100. Suggested Budget: P150 per pax</p>
                    <p>You’ll find them all lined up along Rizal Avenue. You might also want to try those barbeque stalls along the road and have some isaw! </p>
                </div>
            </div>
            <div class="info-main">
                <div class="info-pic">
                    <img src="./img/kina.jpg" alt="">
                </div>
                <div class="info-det">
                    <h5>Kinabuch's</h5>
                    <p>This is where you should head for if you want beer to go with your dinner. And in case you miss sampling the notorious tamilok, a wood-dwelling mollusk best eaten raw, this is the place for that last chance to try it! Suggested budget: P300 per pax. </p>
                </div>
            </div>
        </div>
        <div class="info-sub-p">
            <h2>Things To-Do:</h2>
            
        </div>
        <div class="info">
            <div class="info-main">
                <div class="info-pic">
                    <img src="./img/underground.jpg" alt="">
                </div>
                <div class="info-det">
                    <h5>See the Puerto Princesa Underground River</h5>
                    <p>Puerto Princesa Underground River is situated in St. Paul Mountain Range. Hailed as one of the New 7 Wonders of the World, this emerald green river is fringed by stunning limestone formations and verdant forest. Puerto Princesa Underground River was once th longest subtarrenean river in the world passing through caves with major formations of stalactites and stalagmites before it meets the West Philippine Sea. </p>
                    
                </div>
            </div>
            <div class="info-main">
                <div class="info-pic">
                    <img src="./img/kamia.jpg" alt="">
                </div>
                <div class="info-det">
                    <h5>Kamia Bay Inflatable Island</h5>
                    <p>The newest attraction in Puerto Princesa, Kamia Bay is home to the biggest inflatable water park in Asia! Nestled in Binusalian Bay, it can be reached after a 40-minute ride from the city proper. Aside from the giant wipe-out-ish set, you can also join their eco-tours or ride down their bike trails. </p>
                    <p>You’ll find them all lined up along Rizal Avenue. You might also want to try those barbeque stalls along the road and have some isaw! </p>
                    <p>The waterpark (aqua park) can be enjoyed for 1 hour for only P300. But you can book a tour package too. Here are the rates: </p>
                    <ul>
                        <li>1-hour Aqua Park pass: P300</li>
                        <li>1 hour Aqua Park pass, eco-tour, and buffet lunch: P788</li>
                        <li>1 hour Aqua Park pass, eco-tour, and buffet lunch + roundtrip transfers: P1188</li>
                        <li>Unlimited Aqua Park pass, eco-tour, and buffet lunch + roundtrip transfers: P1788</li>
                    </ul>
                </div>
            </div>
            <div class="info-main">
                <div class="info-pic">
                    <img src="./img/nagtabon.jpg" alt="">
                </div>
                <div class="info-det">
                    <h5>Nagtabon Beach</h5>
                    <p>Lacing a hidden cove 45 minutes from the Puerto Princesa City Proper, it can be reached by taking the bus going north (Taytay/Roxas/El Nido). Alight in Bacungan (P50) then hail a tricycle to get you to Nagtabon Beach (P250, max 3 pax). </p>
                    <p>However, there’s not that many buses or tricycles passing by the area, so doing it this way can prove challenging. If you’re a group, you can rent a van for only P3500 or a motorbike for P700. 
                        You can also have this included in your usual Puerto Princesa City Tour for an additional fee. Just talk to your driver. </p>
                </div>
            </div>
            <div class="info-main">
                <div class="info-pic">
                    <img src="./img/tibag.jpg" alt="">
                </div>
                <div class="info-det">
                    <h5>Tibag Falls</h5>
                    <p>This spectacular waterfall is tucked away in Bacungan, around 40 minutes from the city center. To get here, you may board a north-bound bus at San Jose Terminal and get off near Bacungan Bridge (P50). It’s going to be a 2-hour walk from there. You can also join a Klook tour, but it’s pricier. </p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>